@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: "#00BCD4";
  --color-secondary: "#4A148C";
  --color-accent: "#FF5722";
  --color-neutral: "#1F2937";
  --color-base-100: "#111827";
  --color-info: "#3ABFF8";
  --color-success: "#36D399";
  --color-warning: "#FBBD23";
  --color-error: "#F87272";
}